body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
border-collapse:collapse;
border:1px solid #000000;
}

table td{
border:1px solid #000000;
}

.top-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-body {
    max-width: 70%;
    min-width: 500px;
}

.wishlist-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.wishlist-list {
    display: flex;
    flex-direction: column;
}

.wishlist-item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.wishlist-item-header-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wishlist-notes {
    font-size: 85%;
    color: #899499;
}
