body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
border-collapse:collapse;
border:1px solid #000000;
}

table td{
border:1px solid #000000;
}

.top-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-body {
    max-width: clamp(300px, 95%, 600px);
}

.wishlist-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.wishlist-list {
    display: flex;
    flex-direction: column;
}

.wishlist-item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 10px;
    /*padding: 5px;*/
    border-radius: 5px;
}

.flex-header-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wishlist-notes {
    font-size: 85%;
    color: #585858;
    margin: 2px;
}

.login-signup {
    padding: 1rem
}

.login-signup-input {
    width: 100%;
    font-size: 16px; 
}

.wishlist-item-name {
    margin: 2px;
}

.wishlist-data {
    margin: 2px;
}

.input-heading {
    font-weight: bold;
}

.input-pair-div {
    padding-top: 6px;
    padding-bottom: 6px;    
}

.wishlist-item-hflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wishlist-item-side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

.wishlist-item-body {
    flex: 1;
    padding: 5px;
}

.wishlist-edit-button {
    padding: 5px;
}

.wishlist-link {
    word-break: break-all;
}
